<div class="container">
  <h1>Profile</h1>
</div>

<div class="main_section row">

  <div class="col-3 sub_section">
    <h3>My account</h3>
    <div class="my-3">
      <p><strong>Name: </strong><%= current_user.first_name %> <%= current_user.last_name %></p>
      <p><strong>Username: </strong><%= current_user.username %></p>
      <p><strong>Address: </strong></p>
      <p><%= current_user.street_number %></p>
      <p><%= current_user.postal_code %> <%= current_user.city %></p>
    </div>
    <%= link_to "Edit my account", edit_user_registration_path %>
  </div>

  <div class="col-9">
    <div class="sub_section">
      <h3>My games</h3>
      <ul>
        <% @games.each do |game| %>
          <li><%= link_to game.name, game_path(game) %></li>
        <% end %>
      </ul>
    </div>
    <div class="sub_section">
      <h3>My reservations</h3>
      <ul>
        <% @bookings.each do |booking| %>
          <li> <%= booking.game.name %> - From <%= booking.start_date %> to <%= booking.end_date %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
