<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <div class="mt-3 col-12 m-2 d-flex flex-column justify-content-center align-items-center bg-info bg-opacity-25 text-dark">
          <h1 class="text-center fw-bold m-2 p-3">Ready to share your favorites games and play ?</h1>
          <h3 class="text-center">Create your offers or book a game directly.</h3>
          <%= render "games/search_form" %>
          <% if user_signed_in? %>
            <%=link_to "Let's start ! ", games_path, class: 'btn btn-info m-3'%>
          <% else %>
            <%=link_to "Let's start ! ", new_user_session_path, class: 'btn btn-info m-3'%>
          <% end %>
        </div>
        <div class="mt-3 col-12 m-2 d-flex flex-column justify-content-center align-items-center">
          <%=link_to "Discover all games", games_path,  class:'btn btn-info my-5'%>
        </div>

        <div class="mt-3 col-12 m-2 d-flex flex-column justify-content-center align-items-center">
          <%=link_to "Discover all games", games_path,  class:'btn btn-info my-5'%>
        </div>
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
