<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path 'banner.jpg' %>');">
  <div class="container">
    <h1>Ready to share your favorites games and play ?</h1>
    <h3>Create your offers or book a game directly.</h3>
    <div class="d-flex justify-content-center">
      <%=link_to "Let's start ! ", games_path, class: 'button btn-primary my-5'%>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="my-5">
        <%= render "games/search_form" %>
      </div>
      <h3 class="my-3"> Have a look at the most games !</h3>
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
s
